/* Global properties */

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Tektur', sans-serif;
    user-select: none;
}

body {
    background-image: url(images/background.gif);
    background-size: cover;
    overflow: hidden;
}

/* GUI */

.gui {
    position: absolute;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Menu */

.menu {
    visibility: visible;
    display: flex;
    
}

.menuContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.menuContainer h1, .difficultyContainer h1 {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 15vh;
}

.menuContainer button {
    width: 50vw;
    max-width: 350px;
    height: 70px;
    border-radius: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    border: 2px solid black;
    color: #fff;
    background-color: rgb(55, 52, 100);
    cursor: pointer;
}

.menuContainer button:hover{
    background-color: rgb(173, 170, 226);
    color: rgb(55, 52, 100);
    font-weight: 700;
}

/* Difficulty */

.difficultyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.difficultyContainer h3 {
    font-size: 2rem;
    text-transform: uppercase;

}

.difficulty {
    margin-top: 20px;
    display: flex;
    width: 400px;
    gap: 15px;
    flex-direction: column;
}

.difficulty button {
    height: 80px;
    font-size: 1.7rem;

    text-transform: uppercase;
    border-radius: 15px;
    border: 2px solid black;
    color: #fff;
    cursor: pointer;
}

.difficulty button:nth-child(1){
    background-color: #5656d1; 
}

.difficulty button:nth-child(2){
    background-color: #343499; 
}

.difficulty button:nth-child(3){
    background-color: #1b1b5a; 
}

/* Game GUIs */

.gameContainer {
    width: 1100px;
    height: 700px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
}

.gameGui {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Countdown Game GUI */

.gameGui-start p{
    font-size: 2rem;
}

.gameGui-start h3 {
    font-size: 4rem;
}

/* Main Game GUI */

.gameGui-main {
    display: grid;
    grid-template-areas:
    'option control'
    'bar bar';
    align-items: center;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 2em;
    padding: 2em;
    position: relative;
    
}

.screen {
    flex: 1;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.2rem;

}

.gameSection {
    border: 4px solid black;
}

/* Option Section (Main GUI) */

.optionSection {
    grid-area: option;
    padding: 2em;
    height: 100%;
    position: relative;
}

.optionSection h3 {
    font-size: 1.5rem;
    margin: 1rem;
}

#feedback {
    position: absolute;
    bottom: 2%;
    font-size: 1.2rem;
    opacity: 0;
}

.gameSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.optionContainer button {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
}


.playerOptions {
    margin-top: 175px;
    cursor: pointer;
}

.unpicked:active{
    filter: invert();
}

.goUpAnim{
    animation: goUp 1s;
}

.goDownAnim{
    animation: goDown 1s;
}

.opacityFadeout{
    animation: opacityFadeOut 1.5s;
}

/* Control Section (Main GUI) */

.controlSection {
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.controlSection {
    grid-area: control;
    height: 100%;
}

.controlSection div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid black;
}

/* Log section (Main GUI) */

.log ol li {
    width: 100%;
    position: relative;
    padding: 3px;
}

.log ol li:nth-child(odd) {
    background-color: #f7f7f7;
}

.log ol li:nth-child(even) {
    background-color: #ebebeb;
}

.log ol .versus {
    width: 70%;
}

.log ol .score {
    position: absolute;
    right: 3px;
    font-weight: bold;
}

.log {
    flex: 4;
    position: relative;
    align-items: center;
}

.log h3 {
    position: absolute;
    top: 5%;
}

.log ol {
    position: absolute;
    top: 15%;
    height: 65%;
    width: 90%;
    overflow: auto;
    list-style-position: inside;
}

.log button {
    text-transform: uppercase;
    background-color: #fff;
    padding: 0.6rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    bottom: 5%;
    width: 80%;
    border: 2px solid black;
    cursor: pointer;
}

.log button:active{
    filter:invert();
    border: 2px solid #fff;
    
}

/* Streakbar */

.barSection {
    grid-area: bar;
    width: 100%;
    position: relative;
    height: 50px;
}

.streakbar {
    width: 0%;
    height: 100%;
    background-color: #000000;
    transition: 1s width ease-in-out;
    position: absolute;
    left: 0;
}

#multiplier {
    position: absolute;
    right: 2%;
    font-size: 1.5rem;
    font-weight: bold;
}


/* End Screen GUI */

.gameGui-end {
    position: absolute;
    top: 0;
}

.gameGui-end h3 {
    font-size: 4rem;
    text-transform: uppercase;
    position: absolute;
    top: 20%
}

.gameGui-end p {
    font-size: 2rem;
}

.gameGui-end button {
    text-transform: uppercase;
    background-color: #fff;
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
    bottom: 20%;
    border: 2px solid black;
    color: #000;
    cursor: pointer;

}

.gameGui-end  button:active{
    filter:invert();
    border: 2px solid #ffffff;
}

/* Keyframes */

@keyframes leftToCenter{
    0%  {transform: translateX(0px)}
    100%{ transform: translateX(94px)}

}
@keyframes rightToCenter{
    0%  {transform: translateX(0px)}
    100%{ transform: translateX(-94px)}

}

@keyframes goUp{
    0%  {transform: translateY(0px)}
    100%{ transform: translateY(-80px)}
}

@keyframes goDown{
    0%  {transform: translateY(0px)}
    100%{ transform: translateY(80px)}
}

@keyframes opacityFadeOut{
    0% {opacity: 1}
    70% {opacity: 1}
    100% {opacity: 0}
}