/* Propriétés générales */

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    user-select: none;
}

/* Canvas */
#canvas {
    border: 2px solid black;
    position: absolute;
    display: block;
    background-color: black;
    border: 10px solid white;
}

/* Game Gui */
.gameGui {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 720px;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* Game Gui Menu */

.gameGui-menu h1 {
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    color: #fff;
    font-size: 5rem;
    font-family: "Jersey 20", sans-serif;
    position: absolute;
    top: 12%;

}

.gameGui-menu .menuButton {
    font-family: "Jersey 20", sans-serif;
    color: #fff;
    background-color: #000;
    border: 4px solid #fff;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 15px 120px;
    cursor: pointer;
}

.gameGui-menu .menuButton:hover, #settingsButton:hover, #controlsButton:hover {
    color: #000;
    background-color: #fff;
    transition: 0.3s ease-in-out all;
}

.gameGui-menu .menuButton:active, #settingsButton:active, #controlsButton:active {
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transition: 0.1s ease-in-out all;
}

#settingsButton {
    position: absolute;
    text-transform: uppercase;
    background-color: #000;
    border: 4px solid #fff;
    color: #fff;
    font-family: "Jersey 20", sans-serif;
    font-size: 2rem;
    width: 150px;
    height: 50px;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
}

#controlsButton {
    position: absolute;
    text-transform: uppercase;
    background-color: #000;
    border: 4px solid #fff;
    color: #fff;
    font-family: "Jersey 20", sans-serif;
    font-size: 2rem;
    width: 150px;
    height: 50px;
    bottom: 75px;
    left: 15px;
    cursor: pointer;
}

/* Controls menu*/

.gameGui-controls h1 {
    font-size: 3rem;
    color: #fff;
    font-family: "Jersey 20", sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
}

.gameGui-controls p {
    font-size: 2rem;
    color: #fff;
    font-family: "Jersey 20", sans-serif;
}

.gameGui-settings ul {
    width: 90%;
    list-style-type: none;
    padding: 0;
}

/* Active menu */

#winner {
    position: absolute;
    top: 10%;
    font-size: 4em;
    font-family: "Jersey 20", sans-serif;
    visibility: hidden;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    border: 4px solid white;
    padding: 10px;
}

#firstScore, #secondScore {
    position: absolute;
    top: 0.5%;
    color: #fff;
    font-size: 5rem;
    line-height: 3rem;
    font-family: "Jersey 20", sans-serif;
}

#firstScore {
    left: 22%;
}

#secondScore {
    right: 22%;
}

/* Settings Menu */


.gameGui-settings h1 {
    font-size: 3rem;
    color: #fff;
    font-family: "Jersey 20", sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 4%;
}



.gameGui-settings ul li {
    width: 100%;
    margin: 0;
    padding: 0px 5px 0px 5px;
}



.setting {
    width: 100%;
    display: flex;
    color: #fff;
    font-family: "Jersey 20", sans-serif;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 10px;
    margin: 0;
}

.setting:hover{
    background-color:hsl(0, 0%, 21%) 
}

.setting h3 {
    font-size: 2rem;
    margin: 0;
    line-height: normal;
    display: inline-block;
}

.settingToggle {
    position: relative;
    border: 3px #fff solid;
    width: 70px;
    height: 30px;
    background-color: #000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    right: 10px;
}

.settingToggleInside {
    width: 23px;
    height: 23px;
    background-color: #e27070;
    border-radius: 10px;
    position: absolute;
    left: 4px;
    transition: 0.3s all ease-in-out;
}

.settingToggle.settingActive > div {
    background-color: #60dd60;
    transform: translateX(39px);
    
}

/* Setting Select */ 
.settingSelect {
    position: relative;
    width: 180px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
}

.settingSelectArrowLeft {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    cursor: pointer;
    border-right:15px solid white; 
    left: 0px;
}

.settingSelectArrowRight {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    cursor: pointer;
    border-left:15px solid white; 
    right: 0px;
}

.settingSelectText {
    font-size: 1.5em;
    color: #fff;
}

.backToMenuButton {
    position: absolute;
    background-color: #000;
    border: 4px solid #fff;
    color: #fff;
    font-family: "Jersey 20", sans-serif;
    font-size: 2rem;
    width: 130px;
    height: 50px;
    bottom: 15px;
    text-transform: uppercase;
    left: 15px;
    cursor: pointer;
}

.backToMenuButton:hover {
    background-color: #fff;
    color: #000;
    transition: 0.2s all ease-in-out
}

/* End menu */

.gameGui-end h1 {
    font-size: 5rem;
    color: #fff;
    font-family: "Jersey 20", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.9rem;
    position: absolute;
    top: 10%;
}

.gameGui-end h3 {
    font-family: "Jersey 20", sans-serif;
    color: #fff;
    font-size: 2.5rem;
    margin: 0;
}

.gameGui-end button {
    position: absolute;
    background-color: #000;
    border: 4px solid #fff;
    color: #fff;
    font-family: "Jersey 20", sans-serif;
    font-size: 1.7rem;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    bottom: 20%;
}

.gameGui-end button:hover {
    background-color: #fff;
    color: #000;
    transition: 0.2s all ease-in-out
}